body {
    margin: 0;
    padding: 0;
}

#board { 
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: url("../pictures/bgfave.avif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#player {
    position: absolute;
    background-image: url("../pictures/player-elf.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-color: aqua; */
}

.obstacle {
    position: absolute;
    background-image: url("../pictures/obstacle-ghost.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bullets {
    position: absolute;
    background-image: url("../pictures/shoot-spark.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-color: rgb(243, 236, 246); */
}

p {
    font-style: italic;
    font-weight: bold;
    color: aqua;
}

#score {

}

span {
    /* margin: 60%;
    padding: 60%; */
}

