body {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../pictures/background-forest.avif");
}

h1 {
    text-align: center;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    font-style: italic;
    font-weight: bold;
    color: aqua;
}

span {
    color: aliceblue;
    padding-left: 2%;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    /* background-image: url("../pictures/paper.png"); */
}

p {
    color: aliceblue;
    text-align: center;    
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}

#board { 
    height: 80vh;
    position: relative;
    overflow: hidden;
    background-image: url("../pictures/background-forest.avif");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
    margin-left: 15%;
    margin-right: 15%;
    border: 1px solid #885fe1;
    box-shadow: 10px 10px 20px #ad87ff;
    border-radius: 15px;
}

#player {
    position: absolute;
    background-image: url("../pictures/player-elf.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: playerAnimate 0.3s infinite;
}


.obstacle {
    position: absolute;
    background-image: url("../pictures/obstacle-ghost2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bullets {
    position: absolute;
    background-image: url("../pictures/shoot-spark.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#start-button {
    padding: 10px 25px;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #6713ab;
    background-color:aqua;
    border: none;
    border-radius: 15px;
}

#start-button:hover {
    background-color: #dfaeff;
    color: #6713ab;
}

#start-Screen {
    background-color: blueviolet;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    height: 80vh;
    position: relative;
    overflow: hidden;
    border: 1px solid #885fe1;
    box-shadow: 10px 10px 20px #ad87ff;
    border-radius: 15px;
}

#instructions{
    color: #ad87ff;
    font-weight: bold;
}


@keyframes playerAnimate {
    0% {
        transform: translateY(-2px);
    }
    50% {
        transform: translateY(2px);
    }
    100% {
        transform: translateY(-2px);
    }
}