body {
    margin: 0;
    padding: 0;
}

#board { 
    background-color: #7731C8;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

/* add figure pic later */
#player {
    background-color: aqua;
    position: absolute;
}

